@import url();

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

input {
  border: none;
  padding: 2px 5px;
  border-bottom: 4px solid #00000014;
  border-radius: 15px;
  background-color: transparent;
  transition: all 300ms;
}
input:focus {
  outline: none;
  border: 2px solid #00000014;
  border-radius: 15px;
  background-color: transparent;
}
#appbar {
  background-color: #0e0e0e;
  height: 50px;
}

#content {
  display: flex;
  & #sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    width: 250px;
    min-height: calc(100vh - 50px);
    color: white;
    font-family: sans-serif;
    & .tab {
      padding: 10px 100px;
      margin: 0;
      transition: all 300ms;
      &:hover {
        background-color: #252525;
      }
      &[name="selected"] {
        background-color: #111111;
      }
    }
  }
  & #distribution-card-grid {
    background-color: #fafafa;
    width: calc(100vw - 250px);
    min-height: calc(100vh - 50px - 20px);
    display: grid;
    gap: 10px;
    justify-items: center;
    align-items: center;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 10px;
    & .distribution-card {
      width: 250px;
      height: 300px;
      background-color: #e8e8e8;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      & > div {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
      & form {
        font-size: 2rem;
        font-family: sans-serif;
        & > input[type="number"] {
          width: 5rem;
          height: 2rem;
          font-size: 2rem;
          border-radius: 10px;
        }
      }
      & .distribution-card-values {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      & .distribution-card-percentage {
        font-size: 3rem;
        font-family: sans-serif;
        color: #717171;
      }
      & .distribution-card-income-x-percentage {
        font-size: 1rem;
        font-family: sans-serif;
        color: #181818;
      }
      & .distribution-card-balance-x-percentage {
        font-size: 1rem;
        font-family: sans-serif;
        color: #181818;
      }
    }
    & #add-distribution-card {
      display: flex;
      user-select: none;
      color: #717171;
      align-items: center;
      justify-content: center;
      font-size: 5rem;
      font-weight: bolder;
      width: 50px;
      height: 50px;
      padding: 20px;
      border-radius: 45px;
      background-color: #cecece;
      transition: all 300ms;
      &:hover {
        background-color: #b8b8b8;
      }
    }
  }
}
